In [1]:
import pandas as pd
import sqlite3

def load_db_data():
    chunks = pd.read_csv('annual.csv', chunksize=4000)
    for chunk in chunks:
        chunk.columns = ['Year', 'Level', 'Income']
        with sqlite3.connect('tutorial.db') as conn:
            chunk.to_sql('Employee', conn, if_exists='append')
load_db_data()

In [3]:
def pull_from_db():
    with sqlite3.connect('tutorial.db') as conn:
        df = pd.read_sql('SELECT * FROM Employee LIMIT 40000', con=conn, index_col='index', columns=['Year', 'Level', 'Income'])
    return(df)
df = pull_from_db()
df.head()

       Year    Level                                           Income
index
0      2018  Level 1  Sales, government funding, grants and subsidies
1      2018  Level 1                Interest, dividends and donations
2      2018  Level 1                             Non-operating income
3      2018  Level 1                                Total expenditure
4      2018  Level 1                           Interest and donations