In [7]:
import pandas as pd

df = pd.read_csv('realestate.csv')
print(df.head())

             street        city    zip state  beds  baths  sq__ft  \
0      3526 HIGH ST  SACRAMENTO  95838    CA     2      1     836
1       51 OMAHA CT  SACRAMENTO  95823    CA     3      1    1167
2    2796 BRANCH ST  SACRAMENTO  95815    CA     2      1     796
3  2805 JANETTE WAY  SACRAMENTO  95815    CA     2      1     852
4   6001 MCMAHON DR  SACRAMENTO  95824    CA     2      1     797

          type                     sale_date  price   latitude   longitude
0  Residential  Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
1  Residential  Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
2  Residential  Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
3  Residential  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
4  Residential  Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

In [8]:
df.to_csv('newcsv.csv')     # creates a new csv

In [10]:
df['street'].to_csv('newcsv2.csv')   # only column to new csv

In [11]:
df = df.set_index('zip')

In [12]:
print(df.head())

                 street        city state  beds  baths  sq__ft         type  \
zip
95838      3526 HIGH ST  SACRAMENTO    CA     2      1     836  Residential
95823       51 OMAHA CT  SACRAMENTO    CA     3      1    1167  Residential
95815    2796 BRANCH ST  SACRAMENTO    CA     2      1     796  Residential
95815  2805 JANETTE WAY  SACRAMENTO    CA     2      1     852  Residential
95824   6001 MCMAHON DR  SACRAMENTO    CA     2      1     797  Residential

                          sale_date  price   latitude   longitude
zip
95838  Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
95823  Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
95815  Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
95815  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
95824  Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

In [15]:
df.set_index('street', inplace=True)

In [16]:
print(df.head())

                        city state  beds  baths  sq__ft         type  \
street
3526 HIGH ST      SACRAMENTO    CA     2      1     836  Residential
51 OMAHA CT       SACRAMENTO    CA     3      1    1167  Residential
2796 BRANCH ST    SACRAMENTO    CA     2      1     796  Residential
2805 JANETTE WAY  SACRAMENTO    CA     2      1     852  Residential
6001 MCMAHON DR   SACRAMENTO    CA     2      1     797  Residential

                                     sale_date  price   latitude   longitude
street
3526 HIGH ST      Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
51 OMAHA CT       Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
2796 BRANCH ST    Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
2805 JANETTE WAY  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
6001 MCMAHON DR   Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

In [17]:
df.set_index('zip', inplace=True)

KeyError: "None of ['zip'] are in the columns"

In [18]:
import pandas as pd

df = pd.read_csv('realestate.csv')
df.set_index('zip', inplace=True)

In [19]:
print(df.head())

                 street        city state  beds  baths  sq__ft         type  \
zip
95838      3526 HIGH ST  SACRAMENTO    CA     2      1     836  Residential
95823       51 OMAHA CT  SACRAMENTO    CA     3      1    1167  Residential
95815    2796 BRANCH ST  SACRAMENTO    CA     2      1     796  Residential
95815  2805 JANETTE WAY  SACRAMENTO    CA     2      1     852  Residential
95824   6001 MCMAHON DR  SACRAMENTO    CA     2      1     797  Residential

                          sale_date  price   latitude   longitude
zip
95838  Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
95823  Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
95815  Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
95815  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
95824  Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

In [20]:
df['street'].to_csv('newcsv2.csv')

In [21]:
df = pd.read_csv('newcsv2.csv')

In [22]:
print(df.head())

     zip            street
0  95838      3526 HIGH ST
1  95823       51 OMAHA CT
2  95815    2796 BRANCH ST
3  95815  2805 JANETTE WAY
4  95824   6001 MCMAHON DR

In [23]:
# changing default index to customized
df = pd.read_csv('newcsv2.csv', index_col=0)
print(df.head())

                 street
zip
95838      3526 HIGH ST
95823       51 OMAHA CT
95815    2796 BRANCH ST
95815  2805 JANETTE WAY
95824   6001 MCMAHON DR

In [24]:
# we can also change column title using, names = ['', '']  ...

In [25]:
df.to_csv('newcsv3.csv')   # u will find zip and street and column headers..

In [26]:
# if u want, the column names can be removed
df.to_csv('newcsv4.csv', header=False)

In [27]:
# read_hdf and to_hdf - Hierarchical Data Format

In [28]:
import pandas as pd

df = pd.read_csv('newcsv4.csv', names=['zip', 'street'], index_col=0)
print(df.head())

                 street
zip
95838      3526 HIGH ST
95823       51 OMAHA CT
95815    2796 BRANCH ST
95815  2805 JANETTE WAY
95824   6001 MCMAHON DR

In [45]:
import pandas as pd

df = pd.read_csv('realestate.csv', index_col=0)
print(df.head())

                        city    zip state  beds  baths  sq__ft         type  \
street
3526 HIGH ST      SACRAMENTO  95838    CA     2      1     836  Residential
51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167  Residential
2796 BRANCH ST    SACRAMENTO  95815    CA     2      1     796  Residential
2805 JANETTE WAY  SACRAMENTO  95815    CA     2      1     852  Residential
6001 MCMAHON DR   SACRAMENTO  95824    CA     2      1     797  Residential

                                     sale_date  price   latitude   longitude
street
3526 HIGH ST      Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
51 OMAHA CT       Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
2796 BRANCH ST    Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
2805 JANETTE WAY  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
6001 MCMAHON DR   Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

In [46]:
store = pd.HDFStore('hdfstore2.h5')
print(store)

store.put('d1', df, format='table', data_columns=True)
print(store['d1'].shape)   # rows and column info
store.close()

# reading hdf file
hdf = pd.read_hdf('hdfstore2.h5', 'd1')
print(hdf)
store.close()

<class 'pandas.io.pytables.HDFStore'>
File path: hdfstore2.h5

(985, 11)
                                city    zip state  beds  baths  sq__ft  \
street
3526 HIGH ST              SACRAMENTO  95838    CA     2      1     836
51 OMAHA CT               SACRAMENTO  95823    CA     3      1    1167
2796 BRANCH ST            SACRAMENTO  95815    CA     2      1     796
2805 JANETTE WAY          SACRAMENTO  95815    CA     2      1     852
6001 MCMAHON DR           SACRAMENTO  95824    CA     2      1     797
...                              ...    ...   ...   ...    ...     ...
9169 GARLINGTON CT        SACRAMENTO  95829    CA     4      3    2280
6932 RUSKUT WAY           SACRAMENTO  95823    CA     3      2    1477
7933 DAFFODIL WAY     CITRUS HEIGHTS  95610    CA     3      2    1216
8304 RED FOX WAY           ELK GROVE  95758    CA     4      2    1685
3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

                            type                     sale_date   price  \
street
3526 HIGH ST         Residential  Wed May 21 00:00:00 EDT 2008   59222
51 OMAHA CT          Residential  Wed May 21 00:00:00 EDT 2008   68212
2796 BRANCH ST       Residential  Wed May 21 00:00:00 EDT 2008   68880
2805 JANETTE WAY     Residential  Wed May 21 00:00:00 EDT 2008   69307
6001 MCMAHON DR      Residential  Wed May 21 00:00:00 EDT 2008   81900
...                          ...                           ...     ...
9169 GARLINGTON CT   Residential  Thu May 15 00:00:00 EDT 2008  232425
6932 RUSKUT WAY      Residential  Thu May 15 00:00:00 EDT 2008  234000
7933 DAFFODIL WAY    Residential  Thu May 15 00:00:00 EDT 2008  235000
8304 RED FOX WAY     Residential  Thu May 15 00:00:00 EDT 2008  235301
3882 YELLOWSTONE LN  Residential  Thu May 15 00:00:00 EDT 2008  235738

                      latitude   longitude
street
3526 HIGH ST         38.631913 -121.434879
51 OMAHA CT          38.478902 -121.431028
2796 BRANCH ST       38.618305 -121.443839
2805 JANETTE WAY     38.616835 -121.439146
6001 MCMAHON DR      38.519470 -121.435768
...                        ...         ...
9169 GARLINGTON CT   38.457679 -121.359620
6932 RUSKUT WAY      38.499893 -121.458890
7933 DAFFODIL WAY    38.708824 -121.256803
8304 RED FOX WAY     38.417000 -121.397424
3882 YELLOWSTONE LN  38.655245 -121.075915

[985 rows x 11 columns]

In [36]:
# reading csv, storing in hdf file and reading from hdf file....
# hdf file is mostly used for graphic content data like stocks.

In [37]:
# JSON - input and output

In [47]:
import pandas as pd
# reading from hdf
df = pd.read_hdf('hdfstore2.h5', 'd1')
print(df.head())
# saving output to json and check if json created in directory(manually)
df.to_json('json_example.json')
# reading data from json
df2 = pd.read_json('json_example.json')
print(df2.head())

                        city    zip state  beds  baths  sq__ft         type  \
street
3526 HIGH ST      SACRAMENTO  95838    CA     2      1     836  Residential
51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167  Residential
2796 BRANCH ST    SACRAMENTO  95815    CA     2      1     796  Residential
2805 JANETTE WAY  SACRAMENTO  95815    CA     2      1     852  Residential
6001 MCMAHON DR   SACRAMENTO  95824    CA     2      1     797  Residential

                                     sale_date  price   latitude   longitude
street
3526 HIGH ST      Wed May 21 00:00:00 EDT 2008  59222  38.631913 -121.434879
51 OMAHA CT       Wed May 21 00:00:00 EDT 2008  68212  38.478902 -121.431028
2796 BRANCH ST    Wed May 21 00:00:00 EDT 2008  68880  38.618305 -121.443839
2805 JANETTE WAY  Wed May 21 00:00:00 EDT 2008  69307  38.616835 -121.439146
6001 MCMAHON DR   Wed May 21 00:00:00 EDT 2008  81900  38.519470 -121.435768

ValueError: DataFrame index must be unique for orient='columns'.

In [48]:
# json file could not be created as the index in the hdf/csv file were not unique.
# please try with unique values... syntax remains same.